DOMAIN=http://localhost:8080            #backend  url
ALLOWED_CORS=http://localhost:3000      #frontend url

JWT_SECRET=EXAMPLE_JWT_SECRET

GOOGLE_CLIENT_ID=EXAMPLE_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=EXAMPLE_GOOGLE_CLIENT_SECRET

